# .env file for variable definitions

BUILDER_NAME=tegra-demo-builder
PROJ_NAME=tegra-demo-distro
PATH_PREFIX=tegra-distro
SOURCE_BRANCH=kirkstone-l4t-r32.7.x
TARGET_MACHINE=jetson-nano-devkit-emmc

# optional
EXT_DRIVE_NAME=
